<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="configSvc.color">

	<h1 class="ion-padding-horizontal ion-padding-top">
		{{ book.Title }}
	</h1>

	<ion-grid class="ion-padding">
		<ion-row>
			<ion-col class="ion-padding-bottom ion-text-center" size-xs="12" size-sm="6" size-md="4" size-md="3">
				<img [src]="book.Cover" />
			</ion-col>
			<ion-col size-xs="12" size-sm="6" size-md="8" size-md="9">
				<ion-list>
					<ion-item *ngIf="book.Original !== ''" [color]="configSvc.color">
						<span>
							{{ labels.original }}:
						</span>
						<label>
							{{ book.Original }}
						</label>
					</ion-item>
					<ion-item [color]="configSvc.color">
						<span>
							{{ labels.author }}:
						</span>
						<label>
							{{ book.Author }}
						</label>
					</ion-item>
					<ion-item *ngIf="book.Translator !== ''" [color]="configSvc.color">
						<span>
							{{ labels.translator }}:
						</span>
						<label>
							{{ book.Translator }}
						</label>
					</ion-item>
					<ion-item *ngIf="book.Publisher !== ''" [color]="configSvc.color">
						<span>
							{{ labels.publisher }}:
						</span>
						<label>
							{{ book.Publisher }}
						</label>
					</ion-item>
					<ion-item *ngIf="book.Producer !== ''" [color]="configSvc.color">
						<span>
							{{ labels.producer }}:
						</span>
						<label>
							{{ book.Producer }}
						</label>
					</ion-item>
					<ion-item *ngIf="book.TotalChapters > 1" [color]="configSvc.color">
						<span>
							{{ labels.chapters }}:
						</span>
						<label>
							{{ book.TotalChapters | number:'':locale }}
						</label>
					</ion-item>
					<ion-item [color]="configSvc.color">
						<span>
							{{ labels.category }}:
						</span>
						<label>
							{{ book.Category }}
						</label>
					</ion-item>
					<ion-item *ngIf="book.Source !== ''" [color]="configSvc.color">
						<span>
							{{ labels.source }}:
						</span>
						<label *ngIf="!sourceUrl">
							{{ book.Source }}
						</label>
						<label *ngIf="sourceUrl">
							<a (click)="openSource()">
								{{ book.Source }}
							</a>
						</label>
					</ion-item>
					<ion-item [color]="configSvc.color">
						<span>
							{{ labels.updated }}:
						</span>
						<label>
							{{ book.LastUpdated | time:locale:'h:mm a @ d/M/y' }}
						</label>
					</ion-item>
					<ion-item [color]="configSvc.color">
						<div class="ion-padding-top">
							<section>
								e-Books:
							</section>
							<ul class="files">
								<li (click)="downloadAsync('Epub')">
									<span>
										EPUB: {{ book.Files.Epub.Size }}
									</span>
									<ion-icon *ngIf="book.Files.Epub.Size != 'generating...'" name="cloud-download" slot="icon-only" [title]="labels.download" class="ion-float-end"></ion-icon>
								</li>
								<li (click)="downloadAsync('Mobi')">
									<span>
										MOBI: {{ book.Files.Mobi.Size }}
									</span>
									<ion-icon *ngIf="book.Files.Mobi.Size != 'generating...'" name="cloud-download" slot="icon-only" [title]="labels.download" class="ion-float-end"></ion-icon>
								</li>
							</ul>
						</div>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-top">
			<ion-col class="ion-padding-bottom ion-text-center qrcode" size-xs="12" size-sm="6" size-md="4" size-md="3">
				<div class="ion-padding-bottom">
					{{ labels.qrcode.header }}
				</div>
				<div>
					<qr-code [value]="qrcode" [size]="290"></qr-code>
				</div>
				<span>
					{{ labels.qrcode.description }}
				</span>
			</ion-col>
			<ion-col size-xs="12" size-sm="6" size-md="8" size-md="9">
				<ion-list>
					<ion-item *ngIf="statistics.views" [color]="configSvc.color">
						<div>
							<section>
								{{ labels.statistics.views }}:
							</section>
							<ul>
								<li>
									<span>
										{{ labels.statistics.total }}:
									</span>
									<label>
										{{ statistics.views.Total | number:'':locale }}
									</label>
								</li>
								<li>
									<span>
										{{ labels.statistics.month }}:
									</span>
									<label>
										{{ statistics.views.Month | number:'':locale }}
									</label>
								</li>
								<li>
									<span>
										{{ labels.statistics.week }}:
									</span>
									<label>
										{{ statistics.views.Week | number:'':locale }}
									</label>
								</li>
							</ul>
						</div>
					</ion-item>
					<ion-item *ngIf="statistics.downloads" [color]="configSvc.color">
						<div class="ion-padding-top">
							<section>
								{{ labels.statistics.downloads }}:
							</section>
							<ul>
								<li>
									<span>
										{{ labels.statistics.total }}:
									</span>
									<label>
										{{ statistics.downloads.Total | number:'':locale }}
									</label>
								</li>
								<li>
									<span>
										{{ labels.statistics.month }}:
									</span>
									<label>
										{{ statistics.downloads.Month | number:'':locale }}
									</label>
								</li>
								<li>
									<span>
										{{ labels.statistics.week }}:
									</span>
									<label>
										{{ statistics.downloads.Week | number:'':locale }}
									</label>
								</li>
							</ul>
						</div>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

	<section class="ion-padding-vertical">
		<ion-item [color]="configSvc.color">
			<ion-label position="stacked">
				{{ labels.link }}:
			</ion-label>
			<ion-input [value]="redirectUrl" readonly></ion-input>
			<ion-button slot="end" fill="clear" (click)="copyLinkAsync()">
				<ion-icon name="copy" color="medium" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-item>
	</section>

</ion-content>