<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons *ngIf="!searching" slot="end">
			<ion-button [hidden]="searching" (click)="openSearchAsync()">
				<ion-icon name="search" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title [hidden]="searching">
			{{ title }}
		</ion-title>
		<ion-searchbar [hidden]="!searching"
			(ionChange)="onStartSearch($event)"
			(ionCancel)="onCancelSearch()"
			(ionClear)="onCancelSearch()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="!filtering && pagination">
	<ion-toolbar [color]="configSvc.color">
		<div>
			<span class="ion-float-start">
				<ion-icon name="contacts" color="primary" slot="start"></ion-icon>
				<span>
					{{ totalRecords | number:'':locale }} / {{ pagination.TotalRecords | number:'':locale }}	
				</span>
			</span>
			<span [hidden]="pagination.TotalPages < 2" class="ion-float-end ion-padding-end">
				<ion-icon name="code" color="primary" slot="start"></ion-icon>
				<span>
					{{ pageNumber | number:'':locale }} / {{ pagination.TotalPages | number:'':locale }}
				</span>
			</span>
		</div>
	</ion-toolbar>
</ion-footer>

<ion-content [color]="configSvc.color">
	<ion-list class="ion-padding-end">
		<ion-item *ngFor="let profile of profiles; let idx=index; trackBy: track" [color]="configSvc.color" [routerLink]="getRouterLink(profile, idx)" [queryParams]="getQueryParams(profile)" routerDirection="forward" detail="false">
			<ion-label>
				<ion-thumbnail class="ion-float-start ion-padding-end">
					<img [src]="profile.avatarURI" />
				</ion-thumbnail>
				<label class="time" class="ion-float-end">
					<ion-icon icon="time" slot="start"></ion-icon>
					<span title="{{ profile.LastAccess | date:'h:mm a @ d/M/y' }}">
						{{ profile.LastAccess | time:locale:'h:mm a @ d/M/y' }}
					</span>
				</label>
				<h2>
					{{ profile.Name }}
				</h2>
				<div>
					<span>
						<ion-icon name="at" slot="start" [color]="profile.IsOnline ? 'primary' : 'medium'"></ion-icon>
						{{ profile.Email }}
					</span>
					<span *ngIf="profile.Mobile != ''">
						<ion-icon name="call" slot="start"></ion-icon>
						{{ profile.Mobile }}
					</span>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onScroll()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>