<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home" icon="close"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{info.state.title}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<app-form
		[form]="loginForm.form"
		[config]="loginForm.config"
		[controls]="loginForm.controls"
		(readyEvent)="onLoginFormReady($event)"
		(refreshCaptchaEvent)="onRefreshCaptcha($event)"></app-form>
	<div class="buttons">
		<ion-button color="primary" (click)="loginAsync()">Log In</ion-button>
	</div>
</ion-content>
