<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [defaultHref]="configSvc.previousUrl" icon="close"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{title}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div *ngIf="mode === 'log-in'">
		<app-form [form]="login.form" [config]="login.config"></app-form>
		<ion-buttons class="buttons">
			<ion-button [fill]="login.button.fill" [color]="login.button.color" (click)="loginAsync()">
				<ion-icon *ngIf="login.button.icon" [icon]="login.button.icon" slot="start"></ion-icon>
				{{login.button.label}}
			</ion-button>
			<ion-button [fill]="reset.button.fill" [color]="reset.button.color" (click)="openResetPassword()">
				<ion-icon *ngIf="reset.button.icon" [icon]="reset.button.icon" slot="start"></ion-icon>
				{{reset.button.label}}
			</ion-button>
		</ion-buttons>
	</div>

	<div *ngIf="mode === 'otp'">
		<app-form [form]="otp.form" [config]="otp.config"></app-form>
		<ion-buttons class="buttons">
			<ion-button [fill]="otp.button.fill" [color]="otp.button.color" (click)="validateOTPAsync()">
				<ion-icon *ngIf="otp.button.icon" [icon]="otp.button.icon" slot="start"></ion-icon>
				{{otp.button.label}}
			</ion-button>
		</ion-buttons>
	</div>

	<div *ngIf="mode === 'reset'">
		<app-form
			[form]="reset.form"
			[config]="reset.config"
			[controls]="reset.controls"
			(renderedEvent)="onResetFormRendered($event)"
			(refreshCaptchaEvent)="onRefreshCaptcha($event)"></app-form>
		<ion-buttons class="buttons">
			<ion-button [fill]="reset.button.fill" [color]="reset.button.color" (click)="resetPasswordAsync()">
				<ion-icon *ngIf="reset.button.icon" [icon]="reset.button.icon" slot="start"></ion-icon>
				{{reset.button.label}}
			</ion-button>
		</ion-buttons>
	</div>

</ion-content>
