<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button *ngIf="mode === 'profile'" (click)="closeAsync()">
				<ion-icon name="arrow-back" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button *ngIf="buttons.cancel" color="secondary" (click)="buttons.cancel.handler()">
				<ion-icon *ngIf="buttons.cancel.icon" [name]="buttons.cancel.icon" slot="start"></ion-icon>
				{{ buttons.cancel.text }}
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button *ngIf="mode === 'profile' && !id && canManageUsers" routerLink="/users/list">
				<ion-icon name="contacts" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button *ngIf="buttons.ok" color="primary" (click)="buttons.ok.handler()">
				<ion-icon *ngIf="buttons.ok.icon" [name]="buttons.ok.icon" slot="start"></ion-icon>
				{{ buttons.ok.text }}
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="buttons.invite || actions">
	<ion-toolbar>
		<ion-buttons *ngIf="buttons.invite" slot="start">
			<ion-button (click)="buttons.invite.handler()">
				<ion-icon *ngIf="buttons.invite.icon" [name]="buttons.invite.icon" slot="start"></ion-icon>
				{{ buttons.invite.text }}
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="actions" slot="end">
			<ion-button color="primary" (click)="showActionsAsync()">
				<ion-icon name="more" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons></ion-buttons>
	</ion-toolbar>
</ion-footer>

<ion-content>

	<div *ngIf="mode === 'profile' && profile">
		<figure>
			<img [src]="profile.avatarURI" />
		</figure>
		<h1>
			{{ profile.Name }}
		</h1>
		<ion-list padding-end>
			<ion-list-header>
				{{ labels.header }}
			</ion-list-header>
			<ion-item>
				<ion-icon icon="at" slot="start"></ion-icon>
				{{ profile.Email }}
			</ion-item>
			<ion-item *ngIf="profile.Mobile !== ''">
				<ion-icon icon="call" slot="start"></ion-icon>
				{{ profile.Mobile }}
			</ion-item>
			<ion-item *ngIf="profile.fullAddress !== ''">
				<ion-icon icon="pin" slot="start"></ion-icon>
				{{ profile.fullAddress }}
			</ion-item>
			<ion-item>
				<ion-icon icon="time" slot="start"></ion-icon>
				{{ labels.lastAccess }} {{ profile.LastAccess | date: 'h:mm a @ d/M/y' }}
			</ion-item>
		</ion-list>
		<control-book-bookmarks *ngIf="configSvc.appConfig.services.main === 'books' && !id"></control-book-bookmarks>
	</div>

	<div *ngIf="mode === 'invitation'">
		<app-form *ngIf="invitation.config"
			[form]="invitation.form"
			[config]="invitation.config"
			[controls]="invitation.controls"
			(initEvent)="onFormInitialized($event)"></app-form>
		<control-book-privileges *ngIf="configSvc.appConfig.services.main === 'books' && authSvc.canSetPrivileges"
			(changesEvent)="onPrivilegesChanged($event)"></control-book-privileges>
	</div>

</ion-content>