.profile > figure, .profile > h1 {
	text-align: center;
}
.profile > figure > img {
	border-radius: 50%;
}
div.avatar > h3 {
	clear: both;
	padding-top: 30px;
}
div.avatar > div {
	width: 272px;
}
div.avatar > div:first-of-type > input,
div.avatar > div:first-of-type > img-cropper > span > input {
	display: inline-block;
	width: 100%;
	height: 30px;
	vertical-align: middle;
}
div.avatar > div:last-of-type {
	margin-top: 30px;
	height: 272px;
}
div.avatar > div:last-of-type > img {
	border-radius: 50%;
	width: 272px;
	height: 272px;
}
@media only screen and (min-width: 768px) {
	div.avatar > div {
		float: left;
	}
	div.avatar > div:last-of-type {
		margin-left: 30px;
	}
}
