<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button *ngIf="mode === 'profile'" [defaultHref]="configSvc.previousUrl"></ion-back-button>
			<ion-button *ngIf="buttons.cancel" color="secondary" (click)="buttons.cancel.handler()">
				<ion-icon *ngIf="buttons.cancel.icon" [name]="buttons.cancel.icon" slot="start"></ion-icon>
				{{buttons.cancel.text}}
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="buttons.ok" slot="primary">
			<ion-button color="primary" (click)="buttons.ok.handler()">
				<ion-icon *ngIf="buttons.ok.icon" [name]="buttons.ok.icon" slot="start"></ion-icon>
				{{buttons.ok.text}}
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{title}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="buttons.invite || actions">
	<ion-toolbar>
		<ion-buttons *ngIf="buttons.invite" slot="start">
			<ion-button (click)="buttons.invite.handler()">
				<ion-icon *ngIf="buttons.invite.icon" [name]="buttons.invite.icon" slot="start"></ion-icon>
				{{buttons.invite.text}}
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="actions" slot="primary">
			<ion-button color="primary" (click)="showActionsAsync()">
				<ion-icon name="more" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-footer>

<ion-content padding>

	<div *ngIf="mode === 'profile' && profile" [class]="mode">
		<figure>
			<img [src]="profile.avatarUri" />
		</figure>
		<h1>
			{{profile.Name}}
		</h1>
		<ion-list>
			<ion-list-header>
				Thông tin
			</ion-list-header>
			<ion-item>
				<ion-icon icon="mail" slot="start"></ion-icon>
				{{profile.Email}}
			</ion-item>
			<ion-item *ngIf="profile.Mobile !== ''">
				<ion-icon icon="phone-portrait" slot="start"></ion-icon>
				{{profile.Mobile}}
			</ion-item>
			<ion-item *ngIf="profile.FullAddress !== ''">
				<ion-icon icon="pin" slot="start"></ion-icon>
				{{profile.FullAddress}}
			</ion-item>
			<ion-item>
				<ion-icon icon="time" slot="start"></ion-icon>
				Truy cập: {{profile.LastAccess | date: 'h:mm a @ d/M/y'}}
			</ion-item>
		</ion-list>
	</div>

	<div *ngIf="mode !== 'profile' && mode !== 'otp'" [class]="mode">
		<app-form *ngIf="mode === 'update'"
			[form]="update.form"
			[config]="update.config"
			[controls]="update.controls"
			(initEvent)="onFormInitialized($event)"></app-form>
	
		<app-form *ngIf="mode === 'password'"
			[form]="password.form"
			[config]="password.config"
			[controls]="password.controls"
			(initEvent)="onFormInitialized($event)"></app-form>
	
		<app-form *ngIf="mode === 'email'"
			[form]="email.form"
			[config]="email.config"
			[controls]="email.controls"
			(initEvent)="onFormInitialized($event)"></app-form>
	
		<app-form *ngIf="mode === 'invitation' || mode === 'invitationWithPrivileges'"
			[form]="invitation.form"
			[config]="invitation.config"
			[controls]="invitation.controls"
			(initEvent)="onFormInitialized($event)"></app-form>
	
		<app-form *ngIf="mode === 'privileges' || mode === 'invitationWithPrivileges'"
			[form]="privileges.form"
			[config]="privileges.config"
			[controls]="privileges.controls"
			(initEvent)="onFormInitialized($event)"></app-form>
	</div>

	<div *ngIf="mode === 'otp'" [class]="mode">
		<ion-item>
			<ion-label>
				Trạng thái xác thực lần hai:
				<span>
					{{otp.required ? 'Bật' : otp.uri === '' ? 'Tắt' : 'Đang thiết đặt'}}
				</span>
			</ion-label>
			<ion-button *ngIf="!otp.required && otp.uri === ''" fill="solid" color="primary" (click)="prepareOTPAsync()" item-right>
				<ion-icon name="power" slot="start"></ion-icon>
				Bật
			</ion-button>
		</ion-item>
		<ion-list-header *ngIf="otp.required && otp.providers.length > 0">
			Các phương thức xác thực hiện tại
		</ion-list-header>
		<ion-item *ngFor="let provider of otp.providers">
			<ion-label>
				{{provider.Label}} @ {{provider.Time | date:'dd/MM/yyyy hh:mm a'}}
			</ion-label>
			<ion-button fill="clear" (click)="deleteOTPAsync(provider)" item-right>
				<ion-icon name="trash" slot="start"></ion-icon>
				Xoá bỏ
			</ion-button>
		</ion-item>
		<ion-item *ngIf="otp.uri !== ''">
			<div text-wrap>
				<div>
					Mã QR cho ứng dụng Authenticator
				</div>
				<div>
					<img [src]="otp.uri" />
				</div>
				<div>
					Mở ứng dụng Authenticator trên điện thoại, thêm một tài khoản bằng cách quét mã QR ở trên và nhập mã được sinh trong ứng dụng để xác thực đã hoàn thành quá trình cài đặt.
				</div>
				<div>
					Có thể sử dụng ứng dụng Google Authenticator hoặc Microsoft Authenticator có sẵn trên App Store (iOS) hoặc Play Store (Android).
				</div>
			</div>
		</ion-item>
		<ion-item *ngIf="otp.uri !== ''" [class.invalid]="!otp.value || otp.value.length < 5 || otp.value.length > 10">
			<ion-label position="stacked">Mã OTP của ứng dụng Authenticator</ion-label>
			<ion-input minlength="5" maxlength="10" [(ngModel)]="otp.value"></ion-input>
		</ion-item>
		<ion-item *ngIf="otp.uri !== ''">
			<ion-button fill="solid" color="primary" [disabled]="!otp.value || otp.value.length < 5 || otp.value.length > 10" (click)="addOTPAsync()">
				<ion-icon name="done-all" slot="start"></ion-icon>
				Xác thực
			</ion-button>
		</ion-item>
	</div>

</ion-content>
