<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="configSvc.navigateBackAsync()">
				<ion-icon name="close" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<app-form *ngIf="register.config"
		[form]="register.form"
		[config]="register.config"
		[controls]="register.controls"
		(initEvent)="onFormInitialized($event)"
		(refreshCaptchaEvent)="onRefreshCaptcha($event)"></app-form>
	<ion-buttons padding-horizontal>
		<ion-button [fill]="register.button.fill" [color]="register.button.color" (click)="registerAsync()">
			<ion-icon *ngIf="register.button.icon" [icon]="register.button.icon" slot="start"></ion-icon>
			{{ register.button.label }}
		</ion-button>
	</ion-buttons>
</ion-content>