<ion-list #list class="ion-margin-vertical">
	<ion-list-header *ngIf="bookmarks.length > 0" [color]="color">
		<ion-label>
			{{ labels.header }}
		</ion-label>
	</ion-list-header>
	<ion-item-sliding *ngFor="let bookmark of bookmarks; trackBy: trackBookmark">
		<ion-item [color]="color" (click)="openAsync(bookmark)">
			<div>
				<h2>
					{{ getTitle(bookmark) }}
				</h2>
				<div>
					<label>
						{{ bookmark.Time | time:locale:'h:mm a @ d/M/y' }}
					</label>
					<span>
						{{ getPosition(bookmark) }}
					</span>
				</div>
			</div>
		</ion-item>
		<ion-item-options>
			<ion-item-option color="primary" (click)="openAsync(bookmark)">
				<ion-icon name="book"></ion-icon>
				{{ labels.buttons.read }}
			</ion-item-option>
			<ion-item-option color="danger" (click)="deleteAsync(bookmark)">
				<ion-icon name="trash"></ion-icon>
				{{ labels.buttons.delete }}
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
	<ion-item *ngIf="profile && bookmarks.length > 0" [color]="color" class="sync">
		<div>
			<span class="ion-float-end">
				<label>
					{{ labels.footer }} {{ profile.LastSync | time:locale:'h:mm a @ d/M/y' }}
				</label>
				<ion-button fill="clear" slot="end" (click)="sendAsync()">
					<ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
				</ion-button>
			</span>
		</div>
	</ion-item>
</ion-list>