<ion-item [color]="color" (click)="openAsync()" detail="false">
	<ion-label>
		<ion-thumbnail class="ion-float-start ion-padding-end">
			<img [src]="book.Cover" />
		</ion-thumbnail>
		<div>
			<div>
				<span *ngIf="!hideAuthor">
					{{ book.Author }}
				</span>
				<span *ngIf="!hideCategory">
					{{ book.Category }}
				</span>
				<label class="ion-float-end">
					<span *ngIf="book.TotalChapters > 1">
						<span class="chapters">
							{{ book.TotalChapters | number:'':locale }}
						</span>
						<ion-icon name="copy" slot="end"></ion-icon>
					</span>
				</label>
			</div>
			<h2>
				{{ book.Title }}
			</h2>
		</div>
	</ion-label>
</ion-item>