ion-item {
	cursor: pointer;
}
ion-item > ion-label > ion-thumbnail {
	width: 75px;
	height: 70px;
}
ion-item > ion-label > ion-thumbnail > img {
	width: 65px;
	max-height: 70px;
	border-radius: 5px;
}
ion-item > ion-label > div,
ion-item > ion-label > div > div,
ion-item > ion-label > div > h2 {
	width: 100%;
}
ion-item > ion-label > div > div > span {
	font-size: 0.96em;
}
ion-item > ion-label > div > div > label > span > span,
ion-item > ion-label > div > div > label > span > ion-icon {
	display: inline-block;
	vertical-align: middle;
	top: -1px;
	font-size: 0.85em;
	color: var(--ion-color-medium);
	margin-left: 3px;
}
ion-item > ion-label > div > h2 {
	margin: 12px 0 5px;
	font-size: 1.2em;
	font-weight: normal;
}
