<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-menu-button *ngIf="!showBackButton"></ion-menu-button>
			<ion-back-button *ngIf="showBackButton && !filtering" text=""></ion-back-button>
			<ion-button *ngIf="showBackButton && filtering" (click)="onCancelSearch(true)">
				<ion-icon name="arrow-back" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="!searching" slot="end">
			<ion-button [hidden]="!asGrid" (click)="asGrid = false">
				<ion-icon name="md-list" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button [hidden]="asGrid" (click)="asGrid = true">
				<ion-icon name="md-grid" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button [hidden]="filtering" (click)="showFilter()">
				<ion-icon name="search" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title [hidden]="searching || filtering">
			{{ title }}
		</ion-title>
		<ion-searchbar [hidden]="!searching && !filtering"
			(ionChange)="onStartSearch($event)"
			(ionCancel)="onCancelSearch()"
			(ionClear)="onCancelSearch()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="!filtering && (actions || pagination)">
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons *ngIf="actions" slot="end">
			<ion-button color="primary" (click)="showActionsAsync()">
				<ion-icon name="more" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<div *ngIf="pagination">
			<span class="ion-float-start">
				<ion-icon name="book" color="primary" slot="start"></ion-icon>
				<span>
					{{ totalRecords | number:'':locale }} / {{ pagination.TotalRecords | number:'':locale }}	
				</span>
			</span>
			<span [hidden]="pagination.TotalPages < 2">
				<ion-icon name="code" color="primary" slot="start"></ion-icon>
				<span>
					{{ pageNumber | number:'':locale }} / {{ pagination.TotalPages | number:'':locale }}
				</span>
			</span>
		</div>
	</ion-toolbar>
</ion-footer>

<ion-content [color]="configSvc.color">

	<ion-list *ngIf="!displayAsGrid">
		<control-book-linear-item *ngFor="let book of books; trackBy: track"
			[book]="book"
			[hideAuthor]="hideAuthor"
			[hideCategory]="hideCategory"></control-book-linear-item>
	</ion-list>

	<ion-grid *ngIf="displayAsGrid">
		<ion-row>
			<ion-col *ngFor="let book of books; trackBy: track" size-xs="6" size-sm="4" size-xl="3">
				<control-book-grid-item
					[book]="book"
					[hideAuthor]="hideAuthor"
					[hideCategory]="hideCategory"></control-book-grid-item>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onScroll()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>