<ion-list *ngIf="bookmarks.length > 0">
	<ion-list-header>
		{{ resources.header }}
	</ion-list-header>
	<ion-item-sliding *ngFor="let bookmark of bookmarks; trackBy: trackBookmark">
		<ion-item (click)="open(bookmark)">
			<div>
				<h2>
					{{ getTitle(bookmark) }}
				</h2>
				<div>
					<label>
						{{ bookmark.Time | date: 'h:mm a @ d/M/y' }}
					</label>
					<span [hidden]="bookmark.Position < 1">
						{{ getPosition(bookmark) }}
					</span>
				</div>
			</div>
		</ion-item>
		<ion-item-options>
			<ion-item-option color="primary" (click)="open(bookmark)">
				<ion-icon name="book"></ion-icon>
				{{ resources.buttons.read }}
			</ion-item-option>
			<ion-item-option color="danger" (click)="delete(bookmark)">
				<ion-icon name="trash"></ion-icon>
				{{ resources.buttons.delete }}
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
	<ion-item>
		<div>
			<span float-end>
				{{ resources.footer }} {{ profile.LastSync | date: 'h:mm a @ d/M/y' }}
			</span>
		</div>
	</ion-item>
</ion-list>