<ion-item [color]="configSvc.color">
	<input type="file" accept="image/png, image/jpeg" (change)="prepareImage($event)" />
</ion-item>
<ion-item *ngIf="!configSvc.isNativeApp" [color]="configSvc.color">
	<div>
		<div>
			<img-cropper [image]="htmlCropper.data" [settings]="htmlCropper.settings"></img-cropper>
		</div>
		<div>
			<img *ngIf="htmlCropper.data.image" [src]="htmlCropper.data.image" [width]="htmlCropper.settings.croppedWidth" [height]="htmlCropper.settings.croppedHeight" />
		</div>
	</div>
</ion-item>