<form [formGroup]="form" (ngSubmit)="onSubmit()">

	<div *ngIf="gotSegments">
		<ion-segment [value]="segments.current" (ionChange)="onSegmentChanged($event)">
			<ion-segment-button *ngFor="let segment of segments.items; trackBy: trackSegment" [value]="segment.Name">
				<ion-label>{{ segment.Label }}</ion-label>
				<ion-icon *ngIf="segment.Icon" [name]="segment.Icon"></ion-icon>
			</ion-segment-button>
		</ion-segment>
		<ion-list *ngFor="let segment of segments.items" [hidden]="segment.Name !== segments.current">
			<app-form-control *ngFor="let control of getControls(segment); trackBy: trackControl"
				[formGroup]="form"
				[control]="control"
				[theme]="color"
				(lastFocusEvent)="onLastFocus($event)"
				(refreshCaptchaEvent)="onRefreshCaptcha($event)"></app-form-control>
		</ion-list>
	</div>

	<ion-list *ngIf="!gotSegments">
		<app-form-control *ngFor="let control of controls; trackBy: trackControl"
			[formGroup]="form"
			[control]="control"
			[theme]="color"
			(lastFocusEvent)="onLastFocus($event)"
			(refreshCaptchaEvent)="onRefreshCaptcha($event)"></app-form-control>
	</ion-list>

</form>