<ion-item *ngIf="visible && isFormControl && !isCaptchaControl && !selectAsRadioBoxes && !selectAsCheckBoxes && !isCustomControl()"
	[color]="theme"
	[formGroup]="formGroup"
	[class.invalid]="invalid"
	[class.file-picker]="isFilePickerControl"
	[class.completer-container]="isCompleter"
	[class.select-dropdown]="selectAsDropdown"
	[class.select-multiple]="selectAsMultiple">

	<ion-button *ngIf="icon || isPasswordControl" tabindex="-1" [fill]="iconFill" [color]="iconColor" [slot]="iconSlot" (click)="clickOnIcon()">
		<ion-icon *ngIf="icon" [name]="icon" slot="icon-only"></ion-icon>
		<ion-icon *ngIf="isPasswordControl" name="eye" slot="icon-only" [hidden]="!showPassword"></ion-icon>
		<ion-icon *ngIf="isPasswordControl" name="eye-off" slot="icon-only" [hidden]="showPassword"></ion-icon>
	</ion-button>

	<ion-label *ngIf="label"
		[color]="color.label"
		[position]="position"
		[class]="css.label">{{ label }}</ion-label>

	<ion-input *ngIf="isTextBoxControl" #elementRef
		[formControlName]="formControlName"
		[name]="name"
		[type]="type"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[min]="minValue"
		[max]="maxValue"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[clearOnEdit]="clearOnEdit"
		[attr.style]="style.control"
		(keyup)="onKeyUp($event)"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"></ion-input>

	<ion-textarea *ngIf="isTextAreaControl" #elementRef
		[formControlName]="formControlName"
		[name]="name"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[rows]="rows" 
		[attr.style]="style.control"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"></ion-textarea>

	<ion-select *ngIf="isSelectControl && !selectAsDropdown" #elementRef
		[name]="name"
		[multiple]="selectMultiple"
		[interface]="selectInterface"
		[interfaceOptions]="selectInterfaceOptions"
		[cancelText]="selectCancelText"
		[okText]="selectOkText"
		[value]="value"
		[disabled]="disabled"
		[placeholder]="placeholder"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"
		(ionChange)="onChanged($event)">
		<ion-select-option *ngFor="let option of selectOptions; trackBy: trackOption" [value]="option.Value">{{ option.Label }}</ion-select-option>
	</ion-select>

	<ion-datetime *ngIf="isDatePickerControl" #elementRef
		[displayFormat]="datetimeDisplayFormat"
		[pickerFormat]="datetimePickerFormat"
		[dayNames]="datetimeDayNames"
		[dayShortNames]="datetimeDayShortNames"
		[monthNames]="datetimeMonthNames"
		[monthShortNames]="datetimeMonthShortNames"
		[cancelText]="datetimeCancelText"
		[doneText]="datetimeDoneText"
		[min]="minValue"
		[max]="maxValue"
		[value]="datetimeValue"
		[disabled]="disabled"
		[placeholder]="placeholder"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"
		(ionChange)="onChanged($event)"></ion-datetime>

	<ion-toggle *ngIf="isToggleControl" slot="end" #elementRef
		[name]="name"
		[disabled]="disabled"
		[color]="color.control"
		[checked]="yesnoChecked"
		[title]="description"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"
		(ionChange)="onChanged($event)"></ion-toggle>

	<ion-checkbox *ngIf="isCheckboxControl" slot="end" #elementRef
		[name]="name"
		[disabled]="disabled"
		[color]="color.control"
		[checked]="yesnoChecked"
		[title]="description"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"
		(ionChange)="onChanged($event)"></ion-checkbox>

	<ion-range *ngIf="isRangeControl" #elementRef
		[name]="name"
		[color]="color.control"
		[disabled]="disabled"
		[pin]="rangeOptions.AllowPin"
		[snaps]="rangeOptions.AllowSnaps"
		[dualKnobs]="rangeOptions.AllowDualKnobs"
		[ticks]="rangeOptions.AllowTicks"
		[step]="rangeOptions.Step"
		[min]="minValue"
		[max]="maxValue"
		[value]="value"
		[title]="description"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"
		(ionChange)="onChanged($event)">
		<ion-icon *ngIf="rangeOptions.Icons.Start" [name]="rangeOptions.Icons.Start" size="small" slot="start"></ion-icon>
		<ion-icon *ngIf="rangeOptions.Icons.End" [name]="rangeOptions.Icons.End" size="small" slot="end"></ion-icon>
	</ion-range>

	<select *ngIf="selectAsDropdown || selectAsMultiple" #elementRef
		[formControlName]="formControlName"
		[name]="name"
		[multiple]="selectMultiple"
		[size]="rows" 
		[class]="css.control"
		[attr.style]="style.control"
		(focus)="onFocus($event)"
		(blur)="onBlur($event)"
		(change)="onChanged(this.value)">
		<option *ngFor="let option of selectOptions; trackBy: trackOption" [value]="option.Value" [selected]="selectOptionIsChecked(option.Value)">{{ option.Label }}</option>
	</select>

	<ng2-completer *ngIf="isCompleter" #elementRef
		[inputName]="name"
		[disableInput]="!!disabled"
		[placeholder]="completerPlaceHolder"
		[minSearchLength]="completerMinLength"
		[maxChars]="completerMaxLength"
		[pause]="completerPauseMiliseconds"
		[clearSelected]="completerClearSelected"
		[textSearching]="completerSearchingText"
		[textNoResults]="completerNoResultsText"
		[datasource]="completerDataSource"
		[initialValue]="completerInitialValue"
		(keyup)="onKeyUp($event, !completerClearSelected)"
		(focus)="onFocus($event)"
		(blur)="onBlur($event)"
		(selected)="onChanged($event)"></ng2-completer>
	
	<div *ngIf="isFilePickerControl">
		<div class="file-picker-input">
			<input type="file" #elementRef
				[accept]="control.Options.FilePickerOptions.Accept"
				[multiple]="control.Options.FilePickerOptions.Multiple"
				[placeholder]="placeholder"
				(change)="onChanged($event)" />
		</div>
		<div *ngIf="isAllowImagePreview" class="image-picker-preview ion-padding">
			<div *ngIf="value.current">
				<img [src]="value.current" />
			</div>
			<div *ngIf="value.new">
				<img [src]="value.new" />
			</div>
		</div>
	</div>
	
	<label *ngIf="description && !isYesNoControl && !isRangeControl"
		[class]="css.description"
		[style]="style.description"
		[innerHTML]="description"></label>
	
</ion-item>

<ion-item *ngIf="isLookupControl && isAllowDelete">
	<ion-chip *ngFor="let lookup of lookupDisplayValues">
		<ion-label>{{ lookup.Label }}</ion-label>
		<ion-icon name="close-circle" (click)="deleteValue(lookup.Value)"></ion-icon>
	</ion-chip>
</ion-item>

<ion-list *ngIf="visible && selectAsCheckBoxes" #elementRef
	[formGroup]="formGroup"
	[class.invalid]="invalid">

	<ion-list-header *ngIf="label" [color]="theme">
		<ion-label [class]="css.label">{{ label }}</ion-label>
	</ion-list-header>

	<ion-item *ngFor="let option of selectOptions; trackBy: trackOption" [color]="theme">
		<ion-label>{{ option.Label }}</ion-label>
		<ion-checkbox slot="end" [checked]="selectOptionIsChecked(option.Value)" [value]="option.Value" (ionChange)="onChanged($event)"></ion-checkbox>
	</ion-item>

	<ion-item *ngIf="description" [color]="theme">
		<label
			[class]="css.description"
			[style]="style.description"
			[innerHTML]="description"></label>
	</ion-item>

</ion-list>

<ion-radio-group *ngIf="visible && selectAsRadioBoxes" #elementRef
	[name]="name"
	[formGroup]="formGroup"
	[class.invalid]="invalid"
	[value]="value"
	(ionFocus)="onFocus($event)"
	(ionBlur)="onBlur($event)"
	(ionChange)="onChanged($event)">

	<ion-list-header *ngIf="label" [color]="theme">
		<ion-label [class]="css.label">{{ label }}</ion-label>
	</ion-list-header>

	<ion-item *ngFor="let option of selectOptions; trackBy: trackOption" [color]="theme">
		<ion-label>{{ option.Label }}</ion-label>
		<ion-radio [value]="option.Value"></ion-radio>
	</ion-item>

</ion-radio-group>
	
<ion-item *ngIf="visible && isCaptchaControl"
	[color]="theme"
	[formGroup]="formGroup"
	[class.invalid]="invalid">
	<ion-label *ngIf="label"
		[color]="color.label"
		[position]="position"
		[class]="css.label">{{ label }}</ion-label>
	<ion-input type="text" #elementRef
		[formControlName]="formControlName"
		[name]="name"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[min]="minValue"
		[max]="maxValue"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[attr.style]="style.control"
		(keyup)="onKeyUp($event)"
		(ionFocus)="onFocus($event)"
		(ionBlur)="onBlur($event)"></ion-input>
	<label *ngIf="description"
		[class]="css.description"
		[style]="style.description"
		[innerHTML]="description"></label>
</ion-item>
<ion-item *ngIf="visible && isCaptchaControl"
	[color]="theme">
	<ion-button fill="clear" (click)="refreshCaptchaImage()">
		<ion-icon icon="refresh" slot="icon-only"></ion-icon>
	</ion-button>
	<img *ngIf="captchaURI" slot="start" [src]="captchaURI"/>
</ion-item>

<ion-item *ngIf="visible && (isFormGroup || isFormArray) && description" [color]="theme">
	<label
		[class]="css.description"
		[style]="style.description"
		[innerHTML]="description"></label>
</ion-item>

<ion-list *ngIf="visible && (isFormGroup || isFormArray) && !isFormButtons">
	
	<ion-list-header *ngIf="label" [color]="theme">
		<ion-label [class]="css.label">{{ label }}</ion-label>
	</ion-list-header>
	
	<div *ngIf="isFormGroup">
		<app-form-control *ngFor="let ctrl of control.SubControls.Controls; trackBy: trackControl"
			[formGroup]="formControlAsFormGroup"
			[control]="ctrl"
			[theme]="theme"></app-form-control>
	</div>
	
	<div *ngIf="isSimpleFormArray">
		<app-form-control *ngFor="let ctrl of control.SubControls.Controls; let idx = index; trackBy: trackControl"
			[formGroup]="formControlAsFormGroup"
			[formArrayIndex]="idx"
			[control]="ctrl"
			[theme]="theme"></app-form-control>
	</div>
	
	<div *ngIf="isComplexFormArray">
		<ion-list *ngFor="let ctrl of control.SubControls.Controls; let idx = index; trackBy: trackControl">
			<ion-list-header *ngIf="ctrl.Options.Label" [color]="ctrl.Options.LabelOptions.Color">
				<ion-label [class]="ctrl.Options.LabelOptions.Css">{{ ctrl.Options.Label }}</ion-label>
			</ion-list-header>
			<app-form-control *ngFor="let subctrl of ctrl.SubControls.Controls; trackBy: trackControl"
				[formGroup]="formControlAsFormGroup.controls[idx]"
				[control]="subctrl"
				[theme]="theme"></app-form-control>
		</ion-list>
	</div>

</ion-list>

<ion-buttons *ngIf="visible && isFormButtons" class="ion-padding" style="background-color:var(--ion-color-base)">
	<ion-button *ngFor="let button of control.SubControls.Controls; trackBy: trackControl"
		[fill]="button.Options.ButtonOptions.Fill"
		[color]="button.Options.ButtonOptions.Color"
		(click)="clickOnButton(button, formControlAsFormGroup)">
		<ion-icon *ngIf="button.Options.ButtonOptions.Icon.Name" [icon]="button.Options.ButtonOptions.Icon.Name" [slot]="button.Options.ButtonOptions.Icon.Slot"></ion-icon>
		{{ button.Options.Label }}
	</ion-button>
</ion-buttons>

<control-image-cropper *ngIf="visible && isCustomControl('image-cropper')" #elementRef
	[formGroup]="formGroup"
	[control]="control"
	[settings]="value"
	(change)="onChanged($event)"></control-image-cropper>

<control-object-privileges *ngIf="visible && isCustomControl('object-privileges')" #elementRef
	[formGroup]="formGroup"
	[control]="control"
	[privileges]="value"
	[allowInheritFromParent]="control.Extras['AllowInheritFromParent'] || control.Extras['allowInheritFromParent']"
	(change)="onChanged($event)"></control-object-privileges>

<control-service-privileges *ngIf="visible && isCustomControl('service-privileges')" #elementRef
	[formGroup]="formGroup"
	[control]="control"
	[privileges]="value"
	(change)="onChanged($event)"></control-service-privileges>
