<ion-item *ngIf="visible && isFormControl && !isControl('Captcha') && !selectAsRadioBoxes"
	[formGroup]="formGroup"
	[class.invalid]="invalid"
	[class.completer-container]="isControl('Completer')">

	<ion-label *ngIf="label"
		[color]="color"
		[position]="position"
		[class]="css.label">{{label}}</ion-label>

	<ion-input *ngIf="isControl('TextBox')" #elementRef
		[formControlName]="formControlName"
		[name]="name"
		[type]="type"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[autofocus]="autofocus"
		[min]="min"
		[max]="max"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[clearOnEdit]="clearOnEdit"
		[attr.style]="style.control"
		(keyup)="onKeyUp($event)"></ion-input>

	<ion-textarea *ngIf="isControl('TextArea')" #elementRef rows="4"
		[formControlName]="formControlName"
		[name]="name"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[clearOnEdit]="clearOnEdit"
		[attr.style]="style.control"></ion-textarea>

	<ion-select *ngIf="isControl('Select')" #elementRef
		[name]="name"
		[multiple]="selectMultiple"
		[interface]="selectInterface"
		[interfaceOptions]="selectInterfaceOptions"
		[cancelText]="selectCancelText"
		[okText]="selectOKText"
		[value]="value"
		[disabled]="disabled"
		[placeholder]="placeholder"
		(ionChange)="selectValuesChange($event)">
		<ion-select-option *ngFor="let select of selectValues" [value]="select.Value">{{select.Label}}</ion-select-option>
	</ion-select>

	<ion-datetime *ngIf="isControl('Date') || isControl('DateTime')" #elementRef
		[displayFormat]="datetimeDisplayFormat"
		[pickerFormat]="datetimePickerFormat"
		[dayNames]="datetimeDayNames"
		[dayShortNames]="datetimeDayShortNames"
		[monthNames]="datetimeMonthNames"
		[monthShortNames]="datetimeMonthShortNames"
		[cancelText]="datetimeCancelText"
		[doneText]="datetimeDoneText"
		[min]="min"
		[max]="max"
		[value]="datetimeValue"
		[disabled]="disabled"
		[placeholder]="placeholder"
		(ionChange)="datetimeValueChange($event)"></ion-datetime>

	<ng2-completer *ngIf="isControl('Completer')" #elementRef
		[inputName]="name"
		[placeholder]="completerPlaceHolder"
		[minSearchLength]="completerMinSearchLength"
		[pause]="completerPauseMiliseconds"
		[clearSelected]="completerClearSelected"
		[textSearching]="completerSearchingText"
		[textNoResults]="completerNoResultsText"
		[datasource]="completerDataSource"
		[initialValue]="completerInitialValue"
		(selected)="completerItemChange($event)"></ng2-completer>

</ion-item>

<ion-radio-group *ngIf="visible && selectAsRadioBoxes" #elementRef
	[formGroup]="formGroup"
	[name]="name"
	[class.invalid]="invalid"
	[disabled]="disabled"
	[value]="value"
	(ionChange)="selectValuesChange($event)">
	<ion-list-header *ngIf="label"
		[color]="color"
		[class]="css.label">{{label}}</ion-list-header>
	<ion-item *ngFor="let select of selectValues">
		<ion-label>{{select.Label}}</ion-label>
		<ion-radio [value]="select.Value"></ion-radio>
	</ion-item>
</ion-radio-group>

<ion-item *ngIf="visible && description && isFormControl && !isControl('Captcha')">
	<label
		[class]="css.description"
		[style]="style.description">{{description}}</label>
</ion-item>
	
<div *ngIf="visible && isFormControl && isControl('Captcha')" class="captcha">

	<ion-item [formGroup]="formGroup" [class.invalid]="invalid">
		<ion-label *ngIf="label"
			[color]="color"
			[position]="position"
			[class]="css.label">{{label}}</ion-label>
		<ion-input #elementRef type="text" style="text-transform:uppercase"
			[formControlName]="formControlName"
			[name]="name"
			[placeholder]="placeholder"
			[required]="required"
			[autofocus]="autofocus"
			[min]="min"
			[max]="max"
			[minlength]="minLength"
			[maxlength]="maxLength"
			(keyup)="onKeyUp($event)"></ion-input>
	</ion-item>

	<ion-item *ngIf="description">
		<label
			[class]="css.description"
			[style]="style.description">{{description}}</label>
	</ion-item>

	<ion-item>
		<img *ngIf="captchaUri" [src]="captchaUri" slot="start" />
		<ion-button fill="clear" (click)="refreshCaptcha()">
			<ion-icon icon="refresh" slot="start"></ion-icon>
		</ion-button>
	</ion-item>

</div>

<ion-list-header *ngIf="visible && label && (isFormGroup || isFormArray)"
	[color]="color"
	[class]="css.label">{{label}}</ion-list-header>

<div *ngIf="visible && isFormGroup">
	<app-form-control *ngFor="let ctrl of subControls; trackBy: trackControl"
		[formGroup]="subFormGroup"
		[control]="ctrl"></app-form-control>
</div>

<div *ngIf="visible && isSimpleFormArray">
	<app-form-control *ngFor="let ctrl of subControls; let idx = index; trackBy: trackControl"
		[formGroup]="subFormGroup"
		[control]="ctrl"
		[index]="idx"></app-form-control>
</div>

<div *ngIf="visible && isComplexFormArray">
	<div *ngFor="let ctrl of subControls; let idx = index; trackBy: trackControl">

		<ion-list-header *ngIf="getSubLabel(ctrl)"
			[color]="getSubColor(ctrl)"
			[class]="getSubCss(ctrl)">{{getSubLabel(ctrl)}}</ion-list-header>

		<app-form-control *ngFor="let subctrl of getSubControls(ctrl); trackBy: trackControl"
			[formGroup]="getSubFormGroup(idx)"
			[control]="subctrl"></app-form-control>

	</div>
</div>