<ion-item *ngIf="isFormControl" [formGroup]="formGroup">
	<ion-label *ngIf="label"
		[color]="color"
		[position]="position"
		[class]="css.label">{{label}}</ion-label>
	<ion-input *ngIf="isControl('TextBox')"
		[formControlName]="formControlName"
		[type]="type"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[autofocus]="autofocus"
		[min]="min"
		[max]="max"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[clearOnEdit]="clearOnEdit"
		[attr.style]="style"></ion-input>
	<ion-textarea *ngIf="isControl('TextArea')" rows="4"
		[formControlName]="formControlName"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[attr.style]="style"></ion-textarea>
</ion-item>

<ion-list-header *ngIf="label && !isFormControl"
	[color]="color"
	[class]="css.label">{{label}}</ion-list-header>

<div *ngIf="isFormGroup">
	<app-form-element *ngFor="let ctrl of subControls"
		[formGroup]="subFormGroup"
		[control]="ctrl"></app-form-element>
</div>

<div *ngIf="isSimpleFormArray">
	<app-form-element *ngFor="let ctrl of subControls; let idx = index"
		[formGroup]="subFormGroup"
		[control]="ctrl"
		[index]="idx"></app-form-element>
</div>

<div *ngIf="isComplexFormArray">
	<div *ngFor="let ctrl of subControls; let idx = index">
		<ion-list-header *ngIf="getSubLabel(ctrl)"
			[color]="getSubColor(ctrl)"
			[class]="getSubCss(ctrl)">{{getSubLabel(ctrl)}}</ion-list-header>
		<app-form-element *ngFor="let subctrl of getSubControls(ctrl)"
			[formGroup]="getSubFormGroup(idx)"
			[control]="subctrl"></app-form-element>
	</div>
</div>