<ion-item *ngIf="isFormControl && !isControl('Captcha')" [formGroup]="formGroup" [class.invalid]="invalid">
	<ion-label *ngIf="label"
		[color]="color"
		[position]="position"
		[class]="css.label">{{label}}</ion-label>
	<ion-input *ngIf="isControl('TextBox') || isControl('Captcha')"
		[formControlName]="formControlName"
		[type]="type"
		[placeholder]="placeholder"
		[class]="css.control"
		[class.captcha]="isControl('Captcha')"
		[required]="required"
		[readonly]="readonly"
		[autofocus]="autofocus"
		[min]="min"
		[max]="max"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[clearOnEdit]="clearOnEdit"
		[attr.style]="style"></ion-input>
	<ion-textarea *ngIf="isControl('TextArea')" rows="4"
		[formControlName]="formControlName"
		[placeholder]="placeholder"
		[class]="css.control"
		[required]="required"
		[readonly]="readonly"
		[minlength]="minLength"
		[maxlength]="maxLength"
		[attr.style]="style"></ion-textarea>
</ion-item>

<div *ngIf="isFormControl && isControl('Captcha')" class="captcha">
	<ion-item [formGroup]="formGroup" [class.invalid]="invalid">
		<ion-label *ngIf="label"
			[color]="color"
			[position]="position"
			[class]="css.label">{{label}}</ion-label>
		<ion-input type="text" clearOnEdit="true"
			[formControlName]="formControlName"
			[placeholder]="placeholder"
			[required]="required"
			[minlength]="minLength"
			[maxlength]="maxLength"></ion-input>
	</ion-item>
	<ion-item>
		<ion-button fill="clear" (click)="refreshCaptcha()">
			<ion-icon icon="refresh"></ion-icon>
		</ion-button>
		<img *ngIf="control.Extra['Uri']" slot="start" [src]="control.Extra['Uri']"/>
	</ion-item>
</div>

<ion-list-header *ngIf="(isFormGroup || isFormArray) && label"
	[color]="color"
	[class]="css.label">{{label}}</ion-list-header>

<div *ngIf="isFormGroup">
	<app-form-element *ngFor="let ctrl of subControls"
		[formGroup]="subFormGroup"
		[control]="ctrl"></app-form-element>
</div>

<div *ngIf="isSimpleFormArray">
	<app-form-element *ngFor="let ctrl of subControls; let idx = index"
		[formGroup]="subFormGroup"
		[control]="ctrl"
		[index]="idx"></app-form-element>
</div>

<div *ngIf="isComplexFormArray">
	<div *ngFor="let ctrl of subControls; let idx = index">
		<ion-list-header *ngIf="getSubLabel(ctrl)"
			[color]="getSubColor(ctrl)"
			[class]="getSubCss(ctrl)">{{getSubLabel(ctrl)}}</ion-list-header>
		<app-form-element *ngFor="let subctrl of getSubControls(ctrl)"
			[formGroup]="getSubFormGroup(idx)"
			[control]="subctrl"></app-form-element>
	</div>
</div>