<ion-app>
	<ion-split-pane when="lg" contentId="main">
		<ion-menu side="start" menuId="left" contentId="main">
			<ion-header>
				<ion-toolbar [color]="color">
					<ion-thumbnail *ngIf="sidebar.left.header.image" slot="start">
						<ion-menu-toggle auto-hide="false">
							<a [routerLink]="sidebar.left.header.routerLink" [queryParams]="sidebar.left.header.routerParams" [routerDirection]="sidebar.left.header.routerDirection">
								<img [src]="sidebar.left.header.image" />
							</a>
						</ion-menu-toggle>
					</ion-thumbnail>
					<ion-title>
						{{ sidebar.left.header.title }}
					</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content [color]="color">
				<ion-list class="ion-margin-vertical">
					<ion-menu-toggle auto-hide="false" *ngFor="let menu of sidebar.left.menu; trackBy: trackSidebarItem">
						<ion-list-header *ngIf="menu.title" [color]="color">
							<ion-label>
								<ion-icon *ngIf="menu.icon" [name]="menu.icon" slot="start"></ion-icon>
								<img *ngIf="menu.thumbnail" [src]="menu.thumbnail" class="ion-float-start" />
								{{ menu.title }}
							</ion-label>
						</ion-list-header>
						<ion-item *ngIf="menu.parent" [routerLink]="menu.parent.url" [queryParams]="menu.parent.queryParams" [routerDirection]="menu.parent.direction" [color]="color" (click)="menu.parent.onClick()">
							<ion-icon name="arrow-back" slot="start"></ion-icon>
							<ion-label>
								{{ menu.parent.title }}
							</ion-label>
						</ion-item>
						<ion-item *ngFor="let item of menu.items; trackBy: trackSidebarItem" [routerLink]="item.url" [queryParams]="item.queryParams" [routerDirection]="item.direction" [detail]="item.detail" [color]="color" (click)="item.onClick()">
							<ion-icon *ngIf="item.icon" [name]="item.icon" slot="start"></ion-icon>
							<ion-label>
								<img *ngIf="item.thumbnail" [src]="item.thumbnail" class="ion-float-start" />
								{{ item.title }}
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main"></ion-router-outlet>
	</ion-split-pane>
</ion-app>