<ion-app>
	<ion-split-pane>
		<ion-menu>
			<ion-header>
				<ion-toolbar>
					<ion-avatar *ngIf="sidebar.left.avatar">
						<img [src]="sidebar.left.avatar"/>
					</ion-avatar>
					<ion-title>{{sidebar.left.title}}</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-list *ngFor="let menu of sidebar.left.menu">
					<ion-list-header *ngIf="menu.title">{{menu.title}}</ion-list-header>
					<ion-item *ngFor="let item of menu.items" [routerLink]="[item.url]" [routerDirection]="item.direction">
						<ion-icon *ngIf="item.icon" [name]="item.icon" slot="start"></ion-icon>
						<ion-label>
							{{item.title}}
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet main></ion-router-outlet>
	</ion-split-pane>
</ion-app>
