<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-back-button text="" icon="close"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="configSvc.color" class="ion-padding">

	<div *ngIf="mode === 'login'">
		<app-form
			[color]="configSvc.color"
			[form]="login.form"
			[config]="login.config"
			[controls]="login.controls"
			(initEvent)="onLoginFormInitialized($event)"></app-form>
		<ion-buttons class="ion-padding">
			<ion-button fill="solid" color="primary" (click)="logInAsync()">
				<ion-icon *ngIf="login.buttons.login.icon" [icon]="login.buttons.login.icon" slot="start"></ion-icon>
				{{ login.buttons.login.label }}
			</ion-button>
			<ion-button fill="clear" color="primary" (click)="openResetPasswordAsync()">
				<ion-icon *ngIf="reset.button.icon" [icon]="reset.button.icon" slot="start"></ion-icon>
				{{ reset.button.label }}
			</ion-button>
			<ion-button *ngIf="configSvc.appConfig.accountRegistrations.registrable && configSvc.screenWidth > 767" fill="clear" color="primary" (click)="registerAsync()" class="ion-float-end">
				<ion-icon *ngIf="login.buttons.register.icon" [icon]="login.buttons.register.icon" slot="start"></ion-icon>
				{{ login.buttons.register.label }}
			</ion-button>
		</ion-buttons>
	</div>

	<div *ngIf="mode === 'otp'">
		<app-form
			[color]="configSvc.color"
			[form]="otp.form"
			[config]="otp.config"
			[controls]="otp.controls"
			[value]="otp.value"></app-form>
		<ion-buttons class="ion-padding">
			<ion-button fill="solid" color="primary" (click)="logInOTPAsync()">
				<ion-icon *ngIf="otp.button.icon" [icon]="otp.button.icon" slot="start"></ion-icon>
				{{ otp.button.label }}
			</ion-button>
		</ion-buttons>
	</div>

	<div *ngIf="mode === 'reset'">
		<app-form
			[color]="configSvc.color"
			[form]="reset.form"
			[config]="reset.config"
			[controls]="reset.controls"
			(initEvent)="onResetPasswordFormInitialized($event)"
			(refreshCaptchaEvent)="onRefreshCaptcha($event)"></app-form>
		<ion-buttons class="ion-padding">
			<ion-button fill="solid" color="primary" (click)="resetPasswordAsync()">
				<ion-icon *ngIf="reset.button.icon" [icon]="reset.button.icon" slot="start"></ion-icon>
				{{ reset.button.label }}
			</ion-button>
		</ion-buttons>
	</div>

</ion-content>