<ion-list #list>
	<ion-list-header *ngIf="bookmarks.length > 0">
		{{ resources.header }}
	</ion-list-header>
	<ion-item-sliding *ngFor="let bookmark of bookmarks; trackBy: trackBookmark" #slidingitems>
		<ion-item (click)="openAsync(bookmark)">
			<div>
				<h2>
					{{ getTitle(bookmark) }}
				</h2>
				<div>
					<label>
						{{ bookmark.Time | date: 'h:mm a @ d/M/y' }}
					</label>
					<span>
						{{ getPosition(bookmark) }}
					</span>
				</div>
			</div>
		</ion-item>
		<ion-item-options>
			<ion-item-option color="primary" (click)="openAsync(bookmark)">
				<ion-icon name="book"></ion-icon>
				{{ resources.buttons.read }}
			</ion-item-option>
			<ion-item-option color="danger" (click)="deleteAsync(bookmark)">
				<ion-icon name="trash"></ion-icon>
				{{ resources.buttons.delete }}
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
	<ion-item *ngIf="profile && bookmarks.length > 0" class="sync">
		<div>
			<span float-end>
				<label>
					{{ resources.footer }} {{ profile.LastSync | date: 'h:mm a @ d/M/y' }}
				</label>
				<ion-button fill="clear" slot="end" (click)="sendAsync()">
					<ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
				</ion-button>
			</span>
		</div>
	</ion-item>
</ion-list>