div {
	position: relative;
	overflow: hidden;
	height: 220px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	cursor: pointer;
}
div > section {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	height: 80px;
	width: 100%;
	color: var(--ion-color-light);
	background-color: var(--ion-color-dark);
	opacity: 0.8;
	text-align: center;
}
div > section > span {
	display: block;
	width: 100%;
	margin: 6px 0;
	font-size: 0.75em;
}
div > section > h2 {
	font-size: 1.02em;
	margin: 0;
	padding: 0 5px;
}
@media only screen and (min-width: 375px) {
	div {
		height: 240px;
	}
	div > section > span {
		font-size: 0.85em;
	}
	div > section > h2 {
		font-size: 1.05em;
	}
}
@media only screen and (min-width: 414px) {
	div {
		height: 260px;
	}
	div > section > span {
		font-size: 0.90em;
	}
	div > section > h2 {
		font-size: 1.1em;
	}
}
@media only screen and (min-width: 480px) {
	div {
		height: 280px;
	}
	div > section > span {
		font-size: 0.95em;
	}
	div > section > h2 {
		font-size: 1.15em;
	}
}
@media only screen and (min-width: 576px) {
	div {
		height: 240px;
	}
	div > section > span {
		font-size: 0.85em;
	}
	div > section > h2 {
		font-size: 1.05em;
	}
}
@media only screen and (min-width: 768px) {
	div {
		height: 280px;
	}
	div > section > span {
		font-size: 0.90em;
	}
	div > section > h2 {
		font-size: 1.1em;
	}
}
@media only screen and (min-width: 992px) {
	div > section > span {
		font-size: 0.95em;
	}
	div > section > h2 {
		font-size: 1.2em;
	}
}
@media only screen and (min-width: 1366px) {
	div {
		height: 320px;
	}
}
@media only screen and (min-width: 1440px) {
	div {
		height: 360px;
	}
}
@media only screen and (min-width: 1580px) {
	div {
		height: 400px;
	}
}
