// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/colors.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*@import "~app/pages/users/login.page.scss";*/

/* label of invalid controls */
.invalid > ion-label {
	color: var(--ion-color-danger);
}

/* avatar of side menu */
ion-app ion-menu ion-header ion-toolbar ion-thumbnail img {
	border-radius: 50%;
}

/* description label of an input control */
.label.description, label.description {
	font-size: 12px;
	color: var(--ion-color-medium);
}