<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-back-button text="" (click)="onClose()"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="configSvc.color" class="ion-padding">
	<app-form *ngIf="config"
		[color]="configSvc.color"
		[form]="form"
		[config]="config"
		[controls]="controls"
		(initEvent)="onFormInitialized($event)"></app-form>
	<div class="ion-padding {{options.color}} {{options.font}} {{options.size}} {{options.paragraph}} {{options.align}}" [innerHTML]="sample"></div>
</ion-content>