ion-list > ion-list-header {
	margin-bottom: 0;
}
ion-list > ion-item:last-of-type > div {
	padding-top: 30px;
}
ion-item > input {
	clear: both;
	display: block;
	width: 100%;
	height: 22px;
}
ion-item > div > div:last-of-type > img {
	border-radius: 50%;
	width: 242px;
	height: 242px;
}
ion-item > div > div.cropper {
	margin-bottom: 16px;
}
@media only screen and (min-width: 600px) {
	ion-item > div > div {
		float: left;
	}
	ion-item > div > div.cropper {
		margin-right: 30px;
	}
}
