<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-button color="secondary" [disabled]="processing" (click)="cancelAsync()">
				{{ resources.cancel }}
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button color="primary" [disabled]="processing" (click)="updateAsync()">
				{{ resources.update }}
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="configSvc.color" class="ion-padding">
	<ion-list>
		<ion-radio-group [value]="mode" (ionChange)="mode = $event.detail.value">
			<ion-list-header [color]="configSvc.color">
				{{ resources.header }}
			</ion-list-header>
			<ion-item [color]="configSvc.color">
				<ion-label>
					{{ resources.avatar }}
				</ion-label>
				<ion-radio value="Avatar"></ion-radio>
			</ion-item>
			<ion-item [color]="configSvc.color">
				<ion-label>
					{{ resources.gravatar }}
				</ion-label>
				<ion-radio value="Gravatar"></ion-radio>
			</ion-item>
		</ion-radio-group>
		<ion-item [hidden]="mode !== 'Avatar'" [color]="configSvc.color">
			<input type="file" accept="image/png, image/jpeg" (change)="prepareAvatarImage($event)" />
		</ion-item>
		<ion-item *ngIf="!isNativeApp" [color]="configSvc.color">
			<div>
				<div [hidden]="mode !== 'Avatar'" class="cropper">
					<img-cropper [image]="htmlCropper.data" [settings]="htmlCropper.settings"></img-cropper>
				</div>
				<div>
					<img [src]="imageUri" [width]="htmlCropper.settings.croppedWidth" [height]="htmlCropper.settings.croppedHeight" />
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
